apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: echo-server-ingress
  namespace: jonas
spec:
  rules:
  - host: jonas-0-ingress.course-test.variant.dev # Assuming .dev.nav.no as the domain, please change if this is incorrect
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: echo-server
            port:
              number: 80
